@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #0c0c0c; /* Solid black background */
    color: #ffffff; /* Optional: Set text color to white for visibility */
    height: 100%; /* Ensures the full height for the root container */
  }

  #root {
    height: 100%; /* Ensures the React root container takes full height */
    display: flex;
    flex-direction: column;
  }

  @keyframes slide {
    100% {
      background-position: 50px 0, 125px 25px;
    }
  }

  main {
    @apply px-4 min-h-screen sm:px-0 space-y-16 w-full;
    background-color: #0c0c0c; /* Solid black background */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  position: relative;
  padding: 10px 20px; /* Adjust padding for proper sizing */
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px; /* Adjust font size */
  font-weight: bold;
  border-radius: 20px;
  background: #0c0c0c;
  margin-right: 0; /* No negative margin */
  width: auto; /* Dynamic width based on content */
  white-space: nowrap; /* Prevent text wrapping */
  color: #fff; /* White text color */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

a:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow on hover */
}

/* Mobile font size adjustment */
@media (max-width: 768px) {
  .value-text {
    display: block;
  }

  .value-text::after {
    content: "";
  }
}

.token-card {
  position: relative; /* Required for z-index to work */
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, z-index 0.3s ease;
}

.token-card.selected {
  transform: scale(1.1) translateX(20px); /* Enlarges and moves right */
  z-index: 15; /* Ensures the card is above others */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Adds shadow for emphasis */
}
