@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #0c0c0c; /* Solid black background */
    color: #ffffff; /* Optional: Set text color to white for visibility */
    height: 100%; /* Ensures the full height for the root container */
  }

  #root {
    height: 100%; /* Ensures the React root container takes full height */
    display: flex;
    flex-direction: column;
  }

  @keyframes slide {
    100% {
      background-position: 50px 0, 125px 25px;
    }
  }

  main {
    @apply px-4 min-h-screen sm:px-0 space-y-16 w-full;
    background-color: #0c0c0c; /* Solid black background */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  position: relative;
  padding: 10px 20px; /* Adjust padding for proper sizing */
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px; /* Adjust font size */
  font-weight: bold;
  overflow: hidden;
  border-radius: 20px;
  background: #0c0c0c;
  margin-right: 0; /* No negative margin */
  width: auto; /* Dynamic width based on content */
  white-space: nowrap; /* Prevent text wrapping */
}

a span {
  position: relative;
  color: #fff;
  font-size: 14px; /* Match font size */
  letter-spacing: 1px; /* Adjust letter spacing for alignment */
  z-index: 1;
}

a .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #18e582;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

a .liquid::after,
a .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

a .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

a .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

a:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


/* Mobile font size adjustment and removing % symbol on mobile */
@media (max-width: 768px) {
  .value-text {
    display: block;
  }

  .value-text::after {
    content: "";
  }
}


.token-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.token-card.selected .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: currentColor; /* Use the card's color */
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.token-card.selected .liquid::after,
.token-card.selected .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: rgba(20, 20, 20, 1);
}

.token-card.selected .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.token-card.selected .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
